// Custom variables
@blue: blue;

// Autoprefixer
.vendor (@property, @value) {
    -webkit-@{property}: @value;
    -moz-@{property}: @value;
    -ms-@{property}: @value;
    -o-@{property}: @value;
    @{property}: @value;
}

// Demonstration
html{
    height:100%;
}
html *{
    box-sizing: border-box;
}
body {
    // background:rgb(255, 255, 255);
     font-family: Arial, Helvetica, sans-serif;
     display:flex;
     flex-direction: column;
     flex:1 0 auto;
     height:100%;
     margin: 0;
    .top-panel{
        padding-left:20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width:100%;
        height:50px;
        background-color:blue;
        .logo{
            padding-right: 20px;
            font-size: 30pt;
            color:orange;

        }
        display:flex;
        align-items:center;
        justify-content: flex-start;
    }
    .content{
        display:flex;
        flex-direction: row;
        flex:1 0 auto;
        width: 100%
    }
    .side-part{
        background-color:grey;
        width:28%
    }
    
    .main-part{
        background-color:rgb(200, 200, 200);
        font-size: large;
        display:flex;
        align-items: center;
        justify-content: center;
        flex:1 0 auto;
        .calculator{
            display: grid;
            grid-template-columns: 50px 50px 50px 50px;
            grid-template-rows: 50px 50px 50px 50px 50px;
            grid-gap: 2px;
            border: 0;
        }
        .calculator *{
            border: 0;
        }
        .input{
            grid-column-start: 1;
            grid-column-end: 5;
            background-color:rgb(53, 53, 53);
            color:white;
        }
        .submit-button{
            background-color:rgb(255, 0, 0); 
        }
        .operator{
            background-color: orange;
        }
        .equals{
            background-color: aquamarine;
        }
        .number{
            background-color: rgb(255, 255, 255);
        }
        .zero{
            grid-column-start:1;
            grid-column-end: 3;
        }
    }
}

@media screen and (max-width: 769px) {
    .side-part{
        .link-text{
            display: none;
        }
    }
}